{/* CSS proporties in alphabetical order */}

.form-box{
    box-shadow: 0px 0px 20px -5px black;
}

.forgotpwd {
    text-align: right;
}
.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
